train/wandb
train/logs
deployment/model_weights
__pycache__/
*.pyc
dataset
download_youtube/videos

# local cache
.cache/

# build metadata
*.egg-info/

# local third-party checkout
third_party_CLIP/
